* {
    outline: #ffffff solid 2px;
}

.row-1 {
    background-color: lightblue;    
}

.row-2 {
    background-color: lightgreen;
    height: 200px;
}

.row-3 {
    background-color: orange;
}

.row-4 {
    background-color: grey;
}

@media (max-width: 767px) {
.row-3-1 {
    height: 280px;
}
.row-3-2 {
    height: 280px;
}
.row-3-3 {
    height: 280px;
}
}

@media (min-width: 768px) {
.row-2 {
    height: 280px;
}
.row-3-1 {
    height: 180px;
}
.row-3-2 {
    height: 180px;
}
.row-3-3 {
    height: 180px;
}
}